@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center border-bottom border-top mt-5">
        <h1 class="display-4">Welcome</h1>
        <p>@Model.Mesaj</p>
    </div>
<div>
    <h2>Customers</h2>

    <a asp-page="/Create" class="btn btn-primary float-right mb-1">New Customer</a>

    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-page="/Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                            <button type="submit" asp-route-id="@item.Id" class="btn btn-danger" asp-page-handler="delete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>